# Code coverage output file
coverage-all.out

# Distribution directory for binaries
dist/

# Generated binaries
wg
warpgate

# Generated directories
builds/

# Generated logs
*.log

# Custom attributes files created by macOS
.DS_Store
.secrets

# Taskfile
.task

# Pre-commit artifacts
node_modules

# Packer artifacts
manifest.json
