# Code coverage output file
coverage-all.out

# Distribution directory for binaries
dist/

# Generated binaries
wg
warpgate

# Generated directories
builds/

# Generated logs
logs/

# Custom attributes files created by macOS
.DS_Store
