---
name: goreleaser
on:
  push:
    tags:
      - "*"

env:
  GO_VERSION: 1.25.6

jobs:
  goreleaser:
    name: Run GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # Ensure all tags are fetched

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache-dependency-path: "**/*.sum"

      - name: Fix GOPATH
        run: echo "PATH=$(go env GOPATH)/bin:$PATH" >> "$GITHUB_ENV"

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
