---
name: goreleaser
on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    name: Run go releaser
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # Ensure all tags are fetched

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential \
                                  btrfs-progs \
                                  libgpgme-dev \
                                  libbtrfs-dev \
                                  pkg-config \
                                  slirp4netns \
                                  uidmap
          mkdir -p $HOME/.config
          mkdir -p $HOME/.local/share
          echo "export XDG_RUNTIME_DIR=$HOME/.run" >> $GITHUB_ENV
          echo "export XDG_CONFIG_HOME=$HOME/.config" >> $GITHUB_ENV
          echo "export XDG_DATA_HOME=$HOME/.local/share" >> $GITHUB_ENV

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5
        with:
          go-version: "1.22"
          cache-dependency-path: "**/*.sum"

      - name: Fix GOPATH
        run: echo "PATH=$(go env GOPATH)/bin:$PATH" >> $GITHUB_ENV

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@9ed2f89a662bf1735a48bc8557fd212fa902bebf # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
