---
name: Semgrep Analysis
on:
  merge_group:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "28 21 * * 2"

permissions:
  contents: read
  security-events: write # Required for GitHub Security tab

jobs:
  semgrep:
    name: Semgrep Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Setup git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Run Semgrep analysis
        uses: returntocorp/semgrep-action@713efdd345f3035192eaa63f56867b88e63e4e5d # v1
        with:
          config: >- # more at semgrep.dev/explore
            p/security-audit
            p/secrets
            p/docker
            p/dockerfile
            p/terraform
            p/ci
            p/supply-chain
