---
name: Tests
on:
  merge_group:
  pull_request:
  push:
    branches: [main]

env:
  GO_VERSION: 1.25.5
  TASK_VERSION: 3.38.0
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  tests:
    name: Run tests and determine code coverage %
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: "${{ env.GO_VERSION }}"

      - name: Setup git config
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Generate the coverage output
        run: |
          bash .hooks/run-go-tests.sh coverage

      - name: Send the coverage output
        uses: shogo82148/actions-goveralls@7b1bd2871942af030d707d6574e5f684f9891fb2 # v1
        with:
          path-to-profile: coverage-all.out

  schema-validation:
    name: Validate JSON schema is up to date
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: "${{ env.GO_VERSION }}"

      - name: Setup go-task
        run: |
          sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin v${{ env.TASK_VERSION }}
          task --version

      - name: Validate schema is in sync with code
        run: task schema:validate
